*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lobster', cursive;
}

body{
    font-family: 'Lobster', cursive;
}

nav{
    background: #222;
    width:100%;
}

ul{
    list-style-type: none;
}

a{
    color:#7e7070;;
}

a:hover{
    text-decoration: underline;
}

.menu li{
    font-size: 20px;
    padding: 15px;
}

.menu li a{
    display: block;
}

.logo a{
    font-size: 20px;
    padding-left: 20px;
}

.button.secondary{
    border-bottom: 1px #444 solid;
}
/* mobile menu*/
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
} 

.toggle{
    order: 1;
}

.item.button{
    order: 2;
}

.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active{
    display: block;
}

.toggle{
  cursor: pointer;
}

.bars{
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
    padding-right: 10px;
}

.bars::before,.bars::after{
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars::before{
    top: 5px;
}
.bars::after{
    top: -5px;
}

/*Table menu*/
@media all and (min-width:468px){
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;
    }
    .item.button{
        width: auto;
        order: 1;
        display: block;
    }
    .toggle{
        order: 2;
    }
    .button.secondary{
        border: 0;
    }
    .button a{
        text-decoration: none;
        padding: 7px 15px;
        background: #ff6666;
        border: 1px solid #ff4d4d;
        border-radius: 50em;
    }
    .button.secondary a{
        background: transparent;
    }
    .button a:hover{
        transition: all .25s;
    }
    .button:not(.secondary) a:hover{
        background: #ff4d4d;
        border-color: #ff6666;
    }
    .button.secondary a:hover{
        color: #ddd;
    }
}

@media all and (min-width:768px){
    .item{
        display: block;
        width: auto;
    }
    .toggle{
        display: none;
    }
    .logo{
        order: 0;
    }
    .item{
        order: 1;
    }
    .button{
        order: 2;
    }
    .menu li{
        padding: 15px 10px;
    }
    .menu li.button{
        padding-right: 0;
    }
}